@import url("/Montserrat.css");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #231E48;
}

* {
  font-family: 'Montserrat';
}

@font-face {
  font-family: "Againts";
  src: url("/againts.otf");
}

@font-face {
  font-family: "Kiona";
  src: url("/Kiona-Itallic.woff");
}

@font-face {
  font-family: "Streamster";
  src: url("/Streamster.ttf");
}